#container{
    width: 1000px;
    height:600px;
    background-color: white;
    box-shadow: 15px 20px 15px #3e3d53;
    visibility: hidden;
    margin-top: 150px;
    margin-left: 300px;
}
html{
    background-image: url("white-geometric-texture-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#btn3{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    
    visibility: hidden;
    margin-left: 300px;
}
#btn{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    visibility: hidden;
    margin-left: 300px;
    
}
#btn2{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
   visibility: hidden;
   margin-left: 300px;
}
#btn4{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    visibility: hidden;
    margin-left: 300px;
}

#timer {
    width:100px;
    float:right;
    text-align: center;
    visibility: hidden;
}
#minute{
    font-size:50px;
    color:red;
    visibility: hidden;
}
#seconds{
    font-size:50px;
    color:red;
    visibility: hidden;
}

#connection{
    font-size:50px;
    color:red;
    
}
.sidenav{
    height : 100%;
    width :250px ;
    position : fixed ;
    z-index : 1;
    top:0;
    left : 0;
    background-color:#7f7f7f ;
    overflow-x:hidden;
    transition :0.5s ;
    padding-top:60px;
    visibility: hidden;


}
.sidenav a {
    padding : 8px 8px 8px 32px ;
    text-decoration: none;
    font-size : 40px;
    display:block ;
    transition: 0.3s;
    
}
.sidenav a:hover {
    color : #f1f1f1;
    
}

#namelabel{
    font-size: 30px;
    text-align: center;
}
#name{
    font-size:30px;
}
#namebtn {
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    
   

}
#nameblock{
    text-align: center;
    background-color: white;
            box-shadow: 15px 20px 15px #3e3d53;
            width:700px;
            height:200px;
            margin-top: 300px;
            margin-left: 400px;
}