#container{
    width: 1000px;
    height:500px;
    background-color: white;
    box-shadow: 15px 20px 15px #3e3d53;
    
    margin-top: 150px;
    margin-left: 200px;
}
html{
    background-image: url("white-geometric-texture-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#btn3{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    float:right;
}
#btn{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    
}
#btn2{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
   
}
#btn4{
    width: 25%;
    border-radius: 6px;
    background-color:#7f7f7f;
    color: black;
    padding: 14px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
    

}

#timer {
    width:100px;
    float:right;
    text-align: center;
}
#minute{
    font-size:50px;
    color:red;
}
#seconds{
    font-size:50px;
    color:red;
}

#connection{
    font-size:50px;
    color:red;
}
.sidenav{
    height : 100%;
    width :0px ;
    position : fixed ;
    z-index : 1;
    top:0;
    left : 0;
    background-color:#7f7f7f ;
    overflow-x:hidden;
    transition :0.5s ;
    padding-top:60px;


}
.sidenav a {
    padding : 8px 8px 8px 32px ;
    text-decoration: none;
    font-size : 40px;
    display:block ;
    transition: 0.3s;
}
.sidenav a:hover {
    color : #f1f1f1;
}
.sidenav .closebtn {
    position :absolute ;
    top:0;
    right : 25px ;
    font-size : 36px;
    margin-left : 50px;

}